{% extends 'base.html.twig' %}

{% block title %}Paiement Réussi !{% endblock %}

{% block body %}
    <h1>Votre paiement a été effectué avec succès !</h1>

    {% if achatsAvecDetails|length > 0 %}
        <p>Merci pour votre achat. Voici les détails de votre commande :</p>
        <ul>
            {% for achatInfo in achatsAvecDetails %}
                <li>
                    Billet pour : {{ achatInfo.evenement.nom }} - {{ achatInfo.commande.prixOffreEvenement.offre.nom }}
                    <br>
                   
                    Date de l'événement : {{ achatInfo.evenement.dateHeure|date('d/m/Y H:i') }}
                    <br>
                    Clé de billet : <strong>{{ achatInfo.commande.cleBillet }}</strong>
                    <br>
                    {% set qrCodeApiUrl = 'https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=' ~ achatInfo.commande.cleBillet %}
                    <img src="{{ qrCodeApiUrl }}" alt="QR Code Billet">
                </li>
            {% endfor %}
        </ul>
        <p>Veuillez présenter le QR Code de chaque billet lors de l'événement.</p>
    {% else %}
        <p>Aucun achat trouvé.</p>
    {% endif %}

    <a href="{{ path('app_home') }}">Retour à l'accueil</a>
{% endblock %}